html, body {
    height: 100%;
}

html {
    background: #eee;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    background-image:  radial-gradient(circle at 10% 20%, rgba(90, 90, 90, 0.1) 0%, rgba(90, 90, 90, 0.1) 5%, transparent 5%), 
                       radial-gradient(circle at 90% 80%, rgba(90, 90, 90, 0.1) 0%, rgba(90, 90, 90, 0.1) 5%, transparent 5%);
}

.box {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    background: #fbfcee;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.title {
    text-align: center;
    line-height: 1.5;
}



.wave {
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    background: yellow;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-indent: 0.3em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* ボタンとガチャボックスの間のスペース */
}

.gacha-button {
    background-color: #0af; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    border: none; /* ボタンの枠線をなくす */
    border-radius: 5px; /* ボタンの角を丸める */
    padding: 10px 20px; /* ボタンの内側の余白 */
    font-size: 16px; /* フォントサイズ */
    cursor: pointer; /* カーソルをポインターにする */
    margin: 0 10px; /* ボタンの間のスペース */
    transition: background-color 0.3s, transform 0.3s; /* ホバー時のアニメーション */
}

.gacha-button:hover {
    background-color: #0088cc; /* ホバー時の背景色 */
    transform: scale(1.05); /* ホバー時に少し拡大 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* ホバー時の影 */
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
